@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Italic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Bold.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Light.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-HeavyItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro.woff2') format('woff2'),
        url('../fonts/subset-BlissPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Medium.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-LightItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

html *, 
html *:before, 
html *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 35px;
    color: #0071BB;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 1650px) {
    h2 {
        font-size: 30px;
    }
}

.container {
    max-width: 1637px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1650px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 300px;
    }
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    height: 190px;
    padding-top: 30px;
    position: relative;
}

@media (max-width: 1300px) {
    .header {
        height: 64px;
        padding-top: 0;
        background-image: none;
        background-color: #fff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06), inset 0 1px 3px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1300px) {
    .header-block {
        height: 100%;
        max-width: 100%;
    }
}

.logo-wrapper {
    position: relative;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    background-color: #fff;
    box-shadow: 0 2px 1px -2px #ADD4E0, 0 -2px 1px -2px #ADD4E0
}

@media (max-width: 1650px) {
    .logo-wrapper {
        height: 50px;
        width: 225px;
        padding-left: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 1300px) {
    .logo-wrapper {
        height: auto;
        width: 210px;
        padding: 0;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .logo-wrapper {
        width: 170px;
    }
}

@media (max-width: 1650px) {
    .logo-wrapper img {
        width: 100%;
    }
}

.logo-wrapper:before {
    content: '';
    display: block;
    height: 70px;
    position: absolute;
    top: 0;
    width: 10000px;
    left: -10000px;
    background-color: #fff;
    box-shadow: 0 2px 1px -2px #ADD4E0, 0 -2px 1px -2px #ADD4E0
}

@media (max-width: 1650px) {
    .logo-wrapper:before {
        display: none;
    }
}

.logo-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid #fff;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    right: -30px;
    filter: drop-shadow(1px 0px #ADD4E0);
}

@media (max-width: 1650px) {
    .logo-wrapper:after {
        border-width: 25px 10px;
        right: -20px;
    }
}

@media (max-width: 1300px) {
    .logo-wrapper:after {
        display: none;
    }
}

@media (max-width: 1300px) {
    .main-menu {
        order: -1;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 10%;
    }
}

@media (max-width: 768px) {
    .main-menu {
        margin-right: 0;
    }
}

.hamburger {
    display: none;
}

@media (max-width: 1300px) {
    .hamburger {
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 20px;
    }
}

@media (max-width: 1300px) {
    .main-menu-block {
        background-color: #248DCD;
        position: absolute;
        width: 100%;
        min-height: 100vh;
        top: 0;
        opacity: 1;
        transition: top 0.5s, opacity 0.7s;
    }
    .main-menu-block.closed {
        top: -1000px;
        opacity: 0;
        transition: top 0.5s, opacity 0.7s;
    }
}

@media (max-width: 1300px) {
    .main-menu-wrapper {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 70px;
        opacity: 1;
        transition: top 0.5s 0.4s, opacity 1s 0.7s;
    }
    .main-menu-block.closed .main-menu-wrapper {
        top: -900px;
        opacity: 0;
        transition: top 0.5s 0.4s, opacity 1s 0.7s;
    }
}

.main-menu-close-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .main-menu-close-mobile {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
    }
}

.main-menu-logo-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .main-menu-logo-mobile {
        display: block;
        margin-bottom: 70px;
    }
}

.main-menu-bottom-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .main-menu-bottom-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1300px) {
    .main-menu__list {
        flex-direction: column;
        width: 100%;
        margin-bottom: 55px;
    }
}

.main-menu__list-item:not(:last-child) {
    margin-right: 50px;
}

@media (max-width: 1650px) {
    .main-menu__list-item:not(:last-child) {
        margin-right: 35px;
    }
}

@media (max-width: 1300px) {
    .main-menu__list-item {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
    }
    .main-menu__list-item:not(:last-child) {
        margin-right: 0;
    }
    .main-menu__list-item:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.main-menu__list-item a {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 16px;
    color: #0071BB;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 113, 187, 0.2);
}

@media (max-width: 1650px) {
    .main-menu__list-item a {
        font-size: 14px;
    }
}

@media (max-width: 1300px) {
    .main-menu__list-item a {
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
    }
}

.phone-mobile {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px;
}


.phone {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    color: #EF551B;
    text-decoration: none;
}

@media (max-width: 1650px) {
    .phone {
        font-size: 18px;
    }
}

@media (max-width: 1650px) {
    .phone {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .header .phone {
        font-size: 0;
        width: 42px;
        height: 35px;
        background-image: url(../images/mobile-phone.png);
        background-repeat: no-repeat;
    }
}

@media (max-width: 1300px) {
    .main {
        overflow: hidden;
    }
}

.first-section {
    position: relative;
    background-color: #EAF9FC;
    background-image: linear-gradient(#fff, #EAF9FC);
}

@media (max-width: 1650px) {
    .first-section {
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-color: #fff;
        padding-bottom: 65px;
    }
}

.first-section:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(../images/first-section-rounding.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.infographic-block {
    display: flex;
}

@media (max-width: 1650px) {
    .infographic-block {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .infographic-block {
        margin-bottom: 0;
    }
}

.left-info {
    width: 40%;
}

@media (max-width: 1300px) {
    .left-info {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .left-info {
        width: 100%;
    }
}

.main-header {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 47px;
    line-height: 1.2;
    color: #333;
}

@media (max-width: 1650px) {
    .main-header {
        font-size: 30px;
        line-height: 1.4;
    }
}

@media (max-width: 768px) {
    .main-header {
        font-size: 20px;
    }
}

.main-promo-text {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.55;
    color: #333;
}

@media (max-width: 1650px) {
    .main-promo-text {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    .main-promo-text {
        font-size: 15px;
    }
}

.order-consultation {
    height: 44px;
    background-image: linear-gradient(#E96404, #F44632);
    font-family: 'Bliss Pro';
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 15px;
    border: none;
    border-radius: 2px 0 0 2px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

@media (max-width: 1650px) {
    .order-consultation {
        font-size: 16px;
    }
}

.order-consultation:after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 44px;
    background-image: url(../images/button-arrow.svg);
    top: 0;
    right: -15px;
}

.infographic-img {
    display: flex;
    align-items: flex-start;
}

.infographic-text {
    margin-left: -25px;
    display: flex;
    height: 132px;
    width: 675px;
    position: relative;
}

@media (max-width: 1650px) {
    .infographic-text {
        margin-left: 0;
        height: 170px;
        width: 455px;
    }
}

@media (max-width: 1300px) {
    .infographic-text {
        left: -555px;
        top: 360px;
    }
}

@media (max-width: 768px) {
    .infographic-text {
        left: -650px;
        top: 150px;
        height: 80px;
    }
}

.infographic-text-wrapper {
    position: relative;
    padding: 20px 25px;
    opacity: 0;
    transform: translateX(-1500px)
}

@media (max-width: 1300px) {
    .infographic-text-wrapper {
        display: none;
    }
}

.infographic-text-wrapper:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 66px solid transparent;
    position: absolute;
    top: 0;
    right: -40px;
}

.infographic-img-wrap.animated .infographic-text-wrapper {
    opacity: 1;
    transform: translateX(0)
}

.infographic-text_sand {
    margin-bottom: 50px;
}

@media (max-width: 1650px) {
    .infographic-text_sand {
        margin-bottom: 25px;
    }
}

.infographic-text_sand .infographic-text-wrapper {
    background-color: #F9F4F1;
    transition: transform 0.5s, opacity 2s;
}

.infographic-text_sand .infographic-text-wrapper:after {
    border-top: 66px solid #F9F4F1;
    border-left: 20px solid #F9F4F1;
}

.infographic-text_artesian  .infographic-text-wrapper {
    background-color: #E8F4FC;
    border-color: #E8F4FC;
    transition: transform 0.5s 0.5s, opacity 2s 0.5s;
}

.infographic-text_artesian  .infographic-text-wrapper:after {
    border-top: 66px solid #E8F4FC;
    border-left: 20px solid #E8F4FC;
}

@media (max-width: 1650px) {
    .infographic-text .infographic-text-wrapper:after {
        border-width: 85px 28px;
        right: -56px;
    }
}

.infographic-text svg {
    position: absolute;
    top: 70px;
    left: 695px;
}

@media (max-width: 1650px) {
    .infographic-text svg {
        top: 110px;
        left: 490px;
        width: 60%;
    }
}

@media (max-width: 1300px) {
    .infographic-text svg {
        display: none;
    }
}
    
.infographic-text .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.infographic-img-wrap.animated .infographic-text_sand .path {
    animation: dash 2s linear forwards;
}

.infographic-img-wrap.animated .infographic-text_artesian .path {
    animation: dash 2s linear 0.5s forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.infographic-btn {
    cursor: default;
    position: absolute;
    left: 1035px;
    top: 38px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid;
    overflow: hidden;
}

.infographic-text_sand .infographic-btn {
    border-color: #ED672A;
}

.infographic-text_artesian .infographic-btn {
    border-color: #1D7EBC;
}

@media (max-width: 1650px) {
    .infographic-btn {
        left: 735px;
        top: 80px;
    }
}

@media (max-width: 1300px) {
    .infographic-text_sand .infographic-btn {
        border: 4px solid rgba(237, 103, 42, 0.4);
        animation: pulse-sand 1.5s infinite;
    }
    .infographic-text_artesian .infographic-btn {
        border: 4px solid rgba(29, 126, 188, 0.4);
        animation: pulse-artesian 1.5s infinite;
    }
}

@keyframes pulse-sand {
    from {
        box-shadow: 0 0 0 0 rgba(237, 103, 42, 0.8);
    }
    to {
        box-shadow: 0 0 5px 20px rgba(237, 103, 42, 0);
    }
}

@keyframes pulse-artesian {
    from {
        box-shadow: 0 0 0 0 rgba(29, 126, 188, 0.8);
    }
    to {
        box-shadow: 0 0 5px 20px rgba(29, 126, 188, 0);
    }
}

.infographic-text h2 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 1650px) {
    .infographic-text h2 {
        font-size: 20px;
    }
}

.infographic-text_sand h2 {
    color: #ED672A;
}

.infographic-text_artesian h2 {
    color: #0071BB;
}

.infographic-text p {
    font-family: 'Bliss Pro';
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.infographic-block .order-consultation {
    margin-bottom: 136px;
}

@media (max-width: 1650px) {
    .infographic-block .order-consultation {
        margin-bottom: 110px;
    }
}

.infographic-text_sand h2 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
}

.infographic-text-layout p {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 14px;
    line-height: 1.4;
}

.infographic-img .main-img {
    margin-top: -640px;
    margin-left: 120px;
}

@media (max-width: 1650px) {
    .infographic-img .main-img {
        margin-top: -500px;
        margin-left: 70px;
        width: 190%;
    }
}

@media (max-width: 1300px) {
    .infographic-img .main-img {
        margin-top: -160px;
        margin-left: -380px;
        width: 180%;
    }
}

@media (max-width: 1300px) {
    .infographic-img .main-img {
        margin-top: -70px;
        margin-left: -460px;
        width: 160%;
    }
}

.illustration-block {
    margin-top: -150px;
    text-align: center;
}

@media (max-width: 768px) {
    .illustration-block {
        margin-top: 0;
    }
}

.illustration-block-header {
    text-align: left;
}

.illustration-text {
    font-family: 'Bliss Pro';
    width: 60%;
    text-align: left;
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 35px;
}

@media (max-width: 1650px) {
    .illustration-text {
        width: 80%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .illustration-text {
        width: 100%;
        font-size: 15px;
    }
}

.well-illustration {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

@media (max-width: 1650px) {
    .well-illustration-wrapper {
        overflow-x: auto;
        height: 650px;
    }
}

.well-illustration-block {
    /* margin-top: 50px; */
    opacity: 0;
    transform-origin: bottom;
    transition: all 0.6s;
}

.well-illustration.animated .well-illustration-block {
    margin-top: 0;
    opacity: 1;
}

.well-illustration-block:not(:last-child) {
    margin-right: 100px;
}

.well-type {
    font-family: 'Bliss Pro';
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0;
    margin-bottom: 0;
}

.illustration-artesian .well-type {
    background-image: linear-gradient(to right, #0071BB, #00AADF);    
}

.illustration-sand .well-type {
    background-image: linear-gradient(to right, #F64436, #E86801); 
}

.illustration-technical .well-type {
    background-image: linear-gradient(to right, #6D6D6D, #8B8B8B); 
}

.well-illustration-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.illustration-artesian-block {
    height: 340px;
    background-color: #fff;
    padding: 20px;
    flex: 1;
    width: 230px;
}

.illustration-artesian-block:not(:last-child) {
    margin-right: 27px;
}

.illustration-artesian .illustration-artesian-block {
    border-left: 1px solid #BBDEEE;    
}

.illustration-sand .illustration-artesian-blocktype {
    border-left: 1px solid #FFD4C7; 
}

.illustration-technical .illustration-artesian-blocktype {
    border-left: 1px solid #E0E0E0; 
}

.illustration-artesian-block h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
}

.illustration-artesian .illustration-artesian-block h4 {
    color: #0071BB;
}

.illustration-sand .illustration-artesian-block h4 {
    color: #f05022;
}

.illustration-technical .illustration-artesian-block h4 {
    color: #797979;
}

.illustration-artesian-block p {
    font-family: 'Bliss Pro';
    font-size: 14px;
    line-height: 17px;
    color: #333;
    margin-bottom: 15px;
    height: 70px;
}

.illustration-artesian-block .well-coast {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 19px;
    color: #333;
    margin-bottom: 15px;
}

.illustration-artesian-block button {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 15px;
    color: #ef551b;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px solid rgba(239, 85, 27, 0.3);
    cursor: pointer;
}

.interactive-block {
    position: relative;
    /* height: 400px; */
}

.well-up {
    position: absolute; 
    z-index: 1;
    top: 0;  
    left: -20px;
    width: 122%;
}

.well-down {
    position: absolute;
    top: 150px;
    left: -20px;
    width: 122%;
    transition: all 0.4s;
}

.interactive-block.animated .well-down {
    top: 120px;
}

.consult-text {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .consult-text {
        font-size: 15px;
    }
}

.arrangement {
    padding-bottom: 70px;
}

@media (max-width: 1300px) {
    .arrangement {
        padding-bottom: 100px;
    }
}
    

@media (max-width: 768px) {
    .arrangement {
        padding-bottom: 50px;
    }
}
    
.arrangement-block {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

@media (max-width: 1300px) {
    .arrangement-block {
        flex-wrap: wrap;
        align-items: center;
    }
}

.slider-block {
    width: 42%;
    padding-top: 30px;
}

@media (max-width: 1650px) {
    .slider-block {
        width: 46%;
    }
}

@media (max-width: 1300px) {
    .slider-block {
        width: 100%;
    }
}

.second-header {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #0071BB;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 25px;
}

@media (max-width: 1650px) {
    .second-header {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .second-header {
        font-size: 28px;
    }
}

.slider-main-tabs {
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 5;
}

@media (max-width: 768px) {
    .slider-main-tabs {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }
}

.slider-main-tabs button {
    outline: none;
    cursor: pointer;
}

.slider-main {
    position: relative;
    top: -40px;
}

@media (max-width: 1300px) {
    .slider-main {
        height: 280px;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .slider-main {
        height: 600px;
        margin-bottom: 0;
    }
}

.slider-main__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding-right: 200px;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 0.5s;
}

@media (max-width: 1300px) {
    .slider-main__slide {
        padding-right: 250px;
    }
}

@media (max-width: 768px) {
    .slider-main__slide {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-items: center;
    }
}

.slider-main__slide.active {
    opacity: 1;
}

.slider-main__slide img {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1300px) {
    .slider-main__slide img {
        right: 50px;
    }
}

@media (max-width: 768px) {
    .slider-main__slide img {
        position: static;
    }
}

.slide-caption {
    font-family: 'Bliss Pro';
    font-weight: 500;
    font-size: 18px;
    color: #0071bb;
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px dotted rgba(0, 113, 187, 0.3)
}

@media (max-width: 1650px) {
    .slide-caption {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .slide-caption {
        font-size: 18px;
    }
}

.slide-caption:not(:last-child) {
    margin-right: 45px;
}

@media (max-width: 1650px) {
    .slide-caption:not(:last-child) {
        margin-right: 25px;
    }
}

@media (max-width: 1300px) {
    .slide-caption:not(:last-child) {
        margin-right: 30px;
    }
}

.slide-caption.active {
    color: #333;
    border: none;
}

.arrange-text {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.45;
    color: #333;
    margin-bottom: 30px;
}

@media (max-width: 1650px) {
    .arrange-text {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .arrange-text {
        font-size: 15px;
    }
}

.arrange-coast {
    display: inline-block;
    background-color: #ebf9fc;
    border-radius: 2px;
    padding: 10px 20px;
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #333;
    font-size: 20px;
}

@media (max-width: 1650px) {
    .arrange-coast {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .arrange-coast {
        margin-bottom: 50px;
        align-self: flex-start;
    }
}

.certificates-passport-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .certificates-passport-mobile {
        display: block;
        width: 40%;
    }
}

@media (max-width: 768px) {
    .certificates-passport-mobile {
        display: none;
    }
}

.tube-block {
    width: 44%;
}

@media (max-width: 1300px) {
    .tube-block {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .tube-block {
        width: 100%;
    }
}

.tube-block-top {
    background-image: url(../images/tube-top.png);
    height: 76px;
    position: relative;
    margin-bottom: 14px;
    filter: drop-shadow(5px 5px 5px #eee);
    transition: margin-bottom 0.5s;
}

.tube-block-top:after {
    content: '';
    height: 100%;
    width: 500px;
    position: absolute;
    top: 0;
    right: -500px;
    background-image: url(../images/tube-pattern.png);
    background-repeat-y: no-repeat;
}

@media (max-width: 1650px) {
    .tube-block-top:after {
        display: none;
    }
}

.tube-block-center {
    display: flex;
    height: 233px;
    margin-bottom: 14px;
    transition: margin-bottom 0.5s;
}

.tube-block.animated .tube-block-top,
.tube-block.animated .tube-block-center {
    margin-bottom: 0;
}

.tube-left {
    height: 100%;
    width: 80px;
    position: relative;
    left: -7px;
    background-image: url(../images/tube-left.png);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(5px 5px 5px #eee);
}

@media (max-width: 1300px) {
    .tube-left {
        width: 90px;
    }
}

@media (max-width: 768px) {
    .tube-left {
        width: 120px;
    }
}

.tube-left:before {
    content: '';
    display: block;
    position: absolute;
    top: 83px;
    width: 80px;
    height: 81px;
    background-image: url(../images/ventil.png);
    transition: transform 2.5s
}

.tube-left.animated:before {
    transform: rotateZ(-585deg)
}

.tube-center-info {
    padding: 25px 45px;
    position: relative;
}

@media (max-width: 1300px) {
    .tube-center-info {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .tube-center-info {
        padding: 0 0 0 20px;
    }
}

.tube-block-center h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #333;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (max-width: 1650px) {
    .tube-block-center h3 {
        font-size: 20px;
    }
}

.tube-block-center p {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (max-width: 1650px) {
    .tube-block-center p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .tube-block-center p {
        font-size: 15px;
    }
}

.tube-block-bottom {
    background-image: url(../images/tube-bottom.png);
    height: 76px;
    position: relative;
    filter: drop-shadow(5px 5px 5px #eee);
}

.tube-block-bottom:after {
    content: '';
    height: 100%;
    width: 500px;
    position: absolute;
    top: 0;
    right: -500px;
    background-image: url(../images/tube-pattern.png);
    background-position: bottom;
    background-repeat-y: no-repeat;
}

@media (max-width: 1650px) {
    .tube-block-bottom:after {
        display: none;
    }
}

.delivery {
    background-image: url(../images/clouds.png);
    background-position: center;
    background-repeat-y: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: run-cloud 50s linear forwards infinite;
}

@media (max-width: 1300px) {
    .delivery {
        background-position: top;
    }
}

@media (max-width: 768px) {
    .delivery {
        padding-bottom: 80px;
    }
}

.delivery h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #0071BB;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (max-width: 1650px) {
    .delivery h3 {
        font-size: 20px;
    }
}

.delivery-info {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .delivery-info {
        flex-direction: column;
        align-items: flex-start;
    }
}

.delivery-text {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-right: 15px;
}

@media (max-width: 1650px) {
    .delivery-text {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .delivery-text {
        font-size: 15px;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .delivery-text br {
        display: none;
    }
}

.truck-road {
    background-image: url(../images/truck-pattern.png);
    background-repeat: repeat no-repeat;
    background-position: bottom;    
}

.road {
    height: 48px;
    background-image: url(../images/line.png);
    background-repeat-y: no-repeat;
    background-position-y: center;
    background-position-x: 0;
    position: relative;
    animation: run-road 0.2s linear forwards infinite;
}

.truck {
    position: absolute;
    top: -25px;
    left: 150px;
}

.stages {
    background-image: linear-gradient(#454545, #5e5e5e);
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
}

@media (max-width: 1300px) {
    .stages {
        padding-bottom: 0;
    }
}

.stages-header {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}

@media (max-width: 1300px) {
    .stages-header {
        font-size: 28px;
    }
}

.stages-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1650px) {
    .stages-list {
        width: 95%;
    }
}

@media (max-width: 1300px) {
    .stages-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.stages-list > li {
    height: 300px;
    position: relative;
    width: 130px;
}

@media (max-width: 1300px) {
    .stages-list > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
    }
    .stages-list > li:first-child {
        height: 470px;
    }
}

.stages-list > li:not(:last-child):after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 260%;
    background-color: #606060;
    top: 100px;
    left: 100%;
}

@media (max-width: 1650px) {
    .stages-list > li:not(:last-child):after {
        width: 140%;
        top: auto;
        bottom: 10px;
        left: 49%;
    }
}

@media (max-width: 1300px) {
    .stages-list > li:not(:last-child):after {
        width: 3px;
        height: 110px;
    }
}

.stage-img-wrap {
    margin-top: 0;
    margin-bottom: 10px;
    height: 140px;
    display: flex;
    align-items: flex-end;
}

.stages-list h4 {
    font-family: 'Bliss Pro';
    font-weight: normal;
    font-size: 18px;
    color: #f15222;
    position: absolute;
    top: 140px;
    width: 260px;
}

.stages-list p {
    font-family: 'Bliss Pro';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    position: absolute;
    top: 200px;
    width: 260px;
}

@media (max-width: 1650px) {
    .stages-list p {
        width: 200px;
    }
}

@media (max-width: 1300px) {
    .stages-list p {
        font-size: 15px;
        line-height: 1.3;
        width: 300px;
    }
}

.order-consultation_mobile {
    display: none;
}

@media (max-width: 1300px) {
    .order-consultation_mobile {
        display: block;
        margin-top: 140px;
        white-space: nowrap;
    }
    .order-consultation_desktop {
        display: none;
    }
}

.drill {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
}

@media (max-width: 1650px) {
    .drill {
        bottom: -20px;
    }
}

@media (max-width: 1300px) {
    .drill {
        bottom: -10px;
    }
}

@media (max-width: 768px) {
    .drill {
        bottom: -5px;
    }
}

.about-company {
    padding-top: 130px;
    padding-bottom: 20px;
}

@media (max-width: 1300px) {
    .about-company {
        padding-top: 70px;
    }
}

.about-company-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 1300px) {
    .about-company-container {
        flex-direction: column;
    }
}

.about-company-text {
    width: 25%;
}

@media (max-width: 1300px) {
    .about-company-text {
        width: 100%;
    }
}

.about-company-text p {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.55;
    color: #333;
}

@media (max-width: 1650px) {
    .about-company-text p {
        font-size: 15px;
    }
}

.about-company-main-text {
    margin-bottom: 60px;
}

@media (max-width: 1300px) {
    .about-company-main-text {
        margin-bottom: 30px;
    }
}

.look-at-our-works {
    position: relative;
}

@media (max-width: 1300px) {
    .look-at-our-works {
        display: none;
    }
}

.look-at-our-works:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    left: 200px;
    width: 218px;
    height: 113px;
    background-image: url(../images/curve-arrow.svg);
    background-repeat: no-repeat;
}

@media (max-width: 1650px) {
    .look-at-our-works:after {
        display: none;
    }
}

.about-company-photos {
    width: 72%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .about-company-photos {
        width: 100%;
    }
}

.about-company-main-photo {
    width: 83%;
    height: 630px;
    border: 8px solid #eee;
    overflow: hidden;
}

@media (max-width: 1300px) {
    .about-company-main-photo {
        display: none;
    }
}

@media (max-width: 1650px) {
    .about-company-main-photo {
        height: 470px;
    }
}

.about-company-main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-company-thumbs {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .about-company-thumbs {
        width: 100%;
        display: block;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .about-company-thumbs {
        height: 188px;
    }
}

.about-company-thumbs a {
    display: block;
    border: 4px solid #eee;
    overflow: hidden;
    transition: all 0.3s;
}

@media (max-width: 1300px) {
    .about-company-thumbs a {
        width: 95vw;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .about-company-thumbs a {
        height: 188px;
    }
}

.about-company-thumbs a:hover {
    border-color: #0071BB;
}

.about-company-thumbs a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-company .flickity-prev-next-button {
    background: none;
    width: 80px;
    height: 80px;
}

.about-company .flickity-prev-next-button svg .arrow {
    fill: #fff;
}

.about-company .flickity-page-dots {
    bottom: 20px;
}

.about-company .flickity-page-dots .dot {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.about-company .flickity-page-dots .dot.is-selected {
    background-color: #0071BB;
}

.certificates {
    position: relative;
    padding-top: 120px;
    padding-bottom: 100px;
    background-image: url(../images/certificates-section-rounding.png);
    background-repeat: no-repeat;
    background-position: center 101%;
    background-position: center bottom -1px;
}

@media (max-width: 1300px) {
    .certificates {
        padding-top: 50px;
        background-position: right -180px bottom -1px;
    }
}

@media (max-width: 768px) {
    .certificates:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 5%;
        left: 0;
        background-image: linear-gradient(to right, rgba(255,255,255,0.9), transparent, transparent, transparent, rgba(255,255,255,0.9));
        pointer-events: none;
    }
}

.certificates-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .certificates-container {
        flex-direction: column;
    }
}

.certificates-slider-block {
    width: 58%;
}

@media (max-width: 1650px) {
    .certificates-slider-block {
        width: 55%;
    }
}

@media (max-width: 1300px) {
    .certificates-slider-block {
        width: 100%;
    }
}

.certificates h2 {
    margin-bottom: 50px;
}

@media (max-width: 1300px) {
    .certificates h2 {
        text-align: center;
    }
}

@media (max-width: 1300px) {
    .certificates-slider {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .certificates-slider {
        width: 100%;
        padding-left: 50px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .certificates-slider .flickity-viewport {
        overflow: visible;
    }
}

.certificates-slider .flickity-prev-next-button {
    top: 40%;
    width: 80px;
    height: 80px;
    background: none;
}

.certificates-slider .flickity-prev-next-button svg .arrow {
    fill: #E6F0F9;
}

@media (max-width: 768px) {
    .certificates-slider .flickity-prev-next-button svg .arrow {
        fill: #0071BB;
    }
}

.certificates-slider .flickity-prev-next-button.previous {
    left: -80px;
}

.certificates-slider .flickity-prev-next-button.next {
    right: -80px;
}

@media (max-width: 1300px) {
    .certificates-slider .flickity-prev-next-button.previous {
        left: -60px;
    }
    .certificates-slider .flickity-prev-next-button.next {
        right: -60px;
    }
}

@media (max-width: 768px) {
    .certificates-slider .flickity-prev-next-button.previous {
        left: -10px;
    }
    .certificates-slider .flickity-prev-next-button.next {
        right: -10px;
    }
}

.certificates-slide {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px
}

@media (max-width: 1300px) {
    .certificates-slide {
        margin-right: 20px;
    }
}

.certificates-slide-img-wrap {
    margin-bottom: 20px;
    transition: all 0.3s;
}

.certificates-slide:hover .certificates-slide-img-wrap {
    transform: translateY(-8px);
    box-shadow: 0 15px 20px -10px #d5d5d5;
}

.certificates-slide-text {
    text-align: center;
}

.certificates-slide-text a {
    font-family: 'Bliss Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 1650px) {
    .certificates-slide-text a {
        font-size: 15px;
    }
}

.certificates-slide:hover .certificates-slide-text a {
    color: #0071BB;
    border-bottom: 1px solid rgba(0, 113, 187, 0.2);
}

.certificates-passport {
    width: 31%;
}

@media (max-width: 1650px) {
    .certificates-passport {
        width: 37%;
    }
}

@media (max-width: 1300px) {
    .certificates-passport {
        display: none;
    }
}

@media (max-width: 768px) {
    .certificates-passport {
        display: block;
        order: -1;
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .certificates-passport h2 {
        text-align: left;
    }
}

.passport-block {
    display: flex;
}

.passport-block-img-wrap {
    margin-right: 23px;
}

@media (max-width: 1650px) {
    .passport-block-img-wrap {
        margin-right: 0;
    }
}

.passport-text {
    padding-top: 20px;
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.45;
    color: #333;
}

@media (max-width: 1650px) {
    .passport-text {
        font-size: 15px;
        order: -1;
        margin-right: 23px;
    } 
}

@media (max-width: 768px) {
    .passport-text {
        padding: 0;
        min-width: 60%;
    } 
}

.passport-text p {
    margin-top: 0;
    margin-bottom: 25px;
}

.additional {
    background-color: #EAF9FC;
    background-image: url(../images/side-tube.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 40px;
    padding-bottom: 35px;
}

@media (max-width: 1650px) {
    .additional {
        background-position: right -40% bottom;
    }
}

@media (max-width: 768px) {
    .additional {
        padding-bottom: 90px;
        background-position: left -5% bottom;
    }
}

.additional-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1650px) {
    .additional-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1300px) {
    .additional-container {
        margin-bottom: -120px;
    }
}

@media (max-width: 768px) {
    .additional-container {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.additional h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    line-height: 1.77;
    color: #333;
    margin-top: 0;
    margin-bottom: 30px;
}

.additional p {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.45;
    color: #333;
    margin-top: 0;
}

@media (max-width: 1650px) {
    .additional p {
        font-size: 15px;
    }
}

.additional-services {
    width: 70%;
}

@media (max-width: 1650px) {
    .additional-services {
        width: 100%;
    }
}

.additional-services-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

@media (max-width: 1650px) {
    .additional-services-list {
        margin-left: 70px;
    }
}

@media (max-width: 1300px) {
    .additional-services-list {
        flex-wrap: wrap
    }
}

@media (max-width: 768px) {
    .additional-services-list {
        flex-direction: column;
    }
}

.additional-services-list li {
    position: relative;
    width: 33%;
    padding-right: 70px;
}

@media (max-width: 1650px) {
    .additional-services-list li {
        width: 27%;
    }
}

@media (max-width: 1300px) {
    .additional-services-list li {
        width: 47%;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .additional-services-list li {
        width: 100%;
        padding-right: 0;
    }
}

.additional-services-list li img {
    position: absolute;
    top: 0;
    left: -70px;
}

.additional-services-list h4 {
    font-family: 'Bliss Pro';
    font-weight: 500;
    color: #333;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (max-width: 1650px) {
    .additional-services-list h4 {
        font-size: 18px;
    }
}

.coast {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #EF551D;
    font-size: 18px;
}

.specifying-block {
    flex: 1;
}

@media (max-width: 1300px) {
    .specifying-block {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -210px;
        left: -50px;
    }
}

@media (max-width: 768px) {
    .specifying-block {
        position: static;
        justify-content: flex-start;
    }
}

.additional-services-specifying-block {
    padding: 15px 20px 15px 25px;
    height: 168px;
    width: 358px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    margin-left: -25px;
}

@media (max-width: 1650px) {
    .additional-services-specifying-block {
        width: 70%;
        height: 68px;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 1300px) {
    .additional-services-specifying-block {
        width: 45%;
        height: 140px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .additional-services-specifying-block {
        width: 85%;
        height: 168px;
        padding-left: 20px;
        margin-left: 0;
    }
    .additional-services-specifying-block:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        left: -500px;
        width: 500px;
        background-color: #fff;
    }
}

.additional-services-specifying-block:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -80px;
    border-top: 84px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 84px solid transparent;
    border-left: 40px solid #fff;
}

@media (max-width: 1650px) {
    .additional-services-specifying-block:after {
        border-width: 34px 20px;
        right: -40px;
    }
}

@media (max-width: 1300px) {
    .additional-services-specifying-block:after {
        border-width: 70px 40px;
        right: -80px;
    }
}

@media (max-width: 768px) {
    .additional-services-specifying-block:after {
        border-width: 84px 40px;
        right: -80px;
    }
}

.additional-services-specifying-block span {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-right: 30px;
}

@media (max-width: 1650px) {
    .additional-services-specifying-block span {
        font-size: 15px;
        margin-right: 0;
    }
}

.map-section {
    height: 500px; /* temp */
}

.map-info-block {
    width: 260px;
    position: relative;
    top: 90px;
    margin-left: -25px;
    padding: 35px 25px;
    background-color: #fff;
    border: 1px solid #D9E9EC;
}

@media (max-width: 1650px) {
    .map-info-block {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .map-info-block {
        top: 30px;
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .map-info-block:before {
        content: '';
        display: block;
        height: 101%;
        position: absolute;
        top: -1px;
        left: -500px;
        width: 500px;
        background-color: #fff;
        border-top: 1px solid #D9E9EC;
        border-bottom: 1px solid #D9E9EC;
    }
    .map-info-block:after {
        content: '';
        display: block;
        height: 101%;
        position: absolute;
        top: -1px;
        right: -500px;
        width: 500px;
        background-color: #fff;
        border-top: 1px solid #D9E9EC;
        border-bottom: 1px solid #D9E9EC;
    }
}

.map-info-block h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #333;
    font-size: 22px;
    line-height: 1.77;
    margin-top: 0;
    margin-bottom: 10px;
}

.map-info-block p {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-top: 0;
}

@media (max-width: 1650px) {
    .map-info-block p {
        font-size: 15px;
    }
}

.footer {
    background-color: #4E757C;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: auto;
}

@media (max-width: 768px) {
    .footer {
        padding-top: 45px;
        padding-bottom: 30px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

.footer-logo {
    width: 20%;
}

@media (max-width: 1300px) {
    .footer-logo {
        width: 25%;
    }
}

@media (max-width: 1300px) {
    .footer-logo {
        width: 75%;
    }
}

.footer-logo .logo-wrapper__logo {
    margin-bottom: 15px;
}

@media (max-width: 1300px) {
    .footer-logo .logo-wrapper__logo {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-logo .logo-wrapper__logo {
        margin-bottom: 40px;
    }
}

.logo-sub-text {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1300px) {
    .logo-sub-text {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .logo-sub-text {
        display: none;
    }
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1650px) {
    .footer-menu {
        display: none;
    }
}

.footer-menu > li {
    width: 50%;
}

.footer-menu > li a {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #A6BABD;
    text-decoration: none;
    border-bottom: 1px solid rgba(166, 186, 189, 0.3);
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer-contacts {
        flex-direction: column;
        align-items: center;
    }
}

.footer-address {
    width: 45%;
}

@media (max-width: 1300px) {
    .footer-address {
        position: absolute;
        right: 10px;
        text-align: right;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .footer-address {
        position: static;
        width: 60%;
        text-align: center;
    }
}

.physical-address {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.5;
    color: #A6BABD;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (max-width: 1300px) {
    .physical-address {
        font-size: 13px;
        margin-bottom: 10px;
    }
}

.footer-address a {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.5;
    color: #A6BABD;
    text-decoration: none;
    border-bottom: 1px solid rgba(166, 186, 189, 0.3);
}

@media (max-width: 1300px) {
    .footer-address a {
        font-size: 13px;
    }
}

.footer-phone {
    width: 45%;
}

@media (max-width: 1300px) {
    .footer-phone {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-phone {
        text-align: center;
        order: -1;
        margin-bottom: 10px;
    }
}

.footer-phone .phone {
    display: block;
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .footer-phone .phone {
        font-size: 18px;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .footer-phone .phone {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .footer-phone .order-consultation {
        display: none;
    }
}

.copyright {
    font-family: 'Bliss Pro';
    font-size: 16px;
    color: #A6BABD;
    text-align: right;
}

@media (max-width: 1300px) {
    .copyright {
        margin-top: 90px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .copyright {
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    .copyright-text {
        position: absolute;
        left: 0;
    }
}

@media (max-width: 768px) {
    .copyright-text {
        position: static;
        order: 1;
        margin-top: 10px;
    }
}

.copyright a {
    color: #E86702;
}


@keyframes run-cloud {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -750px;
    }
}

@keyframes run-road {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -30px;
    }
}
