
@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Italic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Bold.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Light.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-HeavyItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro.woff2') format('woff2'),
        url('../fonts/subset-BlissPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-Medium.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-LightItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('../fonts/subset-BlissPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/subset-BlissPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

html * {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 35px;
    color: #0071BB;
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    max-width: 1637px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    height: 190px;
    padding-top: 30px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    position: relative;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    background-color: #fff;
    box-shadow: 0 2px 1px -2px #ADD4E0, 0 -2px 1px -2px #ADD4E0
}

.logo-wrapper:before {
    content: '';
    display: block;
    height: 70px;
    position: absolute;
    top: 0;
    width: 10000px;
    left: -10000px;
    background-color: #fff;
    box-shadow: 0 2px 1px -2px #ADD4E0, 0 -2px 1px -2px #ADD4E0
}

.logo-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid #fff;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    right: -30px;
    filter: drop-shadow(1px 0px #ADD4E0);
}

.main-menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu__list-item:not(:last-child) {
    margin-right: 50px;
}

.main-menu__list-item a {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 16px;
    color: #0071BB;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 113, 187, 0.2);
}

.phone {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    color: #EF551B;
    text-decoration: none;
}

.first-section {
    position: relative;
    background-color: #EAF9FC;
    background-image: linear-gradient(#fff, #EAF9FC);
    padding-bottom: 65px;
}

.first-section:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(../images/first-section-rounding.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.infographic-block {
    display: flex;
}

.left-info {
    width: 40%;
}

.main-header {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    color: #333;
}

.main-promo-text {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 28px;
    color: #333;
}

.order-consultation {
    height: 44px;
    background-image: linear-gradient(#E96404, #F44632);
    font-family: 'Bliss Pro';
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 15px;
    border: none;
    border-radius: 2px 0 0 2px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.order-consultation:after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 44px;
    background-image: url(../images/button-arrow.svg);
    top: 0;
    right: -15px;
}

.infographic-img {
    display: flex;
    align-items: flex-start;
}

.infographic-text {
    margin-left: -25px;
    display: flex;
    height: 132px;
    width: 675px;
    position: relative;
}

.infographic-text-wrapper {
    position: relative;
    padding: 20px 25px;
    opacity: 0;
    transform: translateX(-1500px)
}

.infographic-text-wrapper:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 66px solid transparent;
    position: absolute;
    top: 0;
    right: -40px;
}

.infographic-img-wrap.animated .infographic-text-wrapper {
    opacity: 1;
    transform: translateX(0)
}

.infographic-text_sand {
    margin-bottom: 50px;
}

.infographic-text_sand .infographic-text-wrapper {
    background-color: #F9F4F1;
    /* transition: opacity 1s 0.7s; */
    transition: transform 0.5s, opacity 2s;
}

.infographic-text_sand .infographic-text-wrapper:after {
    border-top: 66px solid #F9F4F1;
    border-left: 20px solid #F9F4F1;
}

.infographic-text_artesian  .infographic-text-wrapper {
    background-color: #E8F4FC;
    border-color: #E8F4FC;
    /* transition: opacity 1s 1.2s; */
    transition: transform 0.5s 0.5s, opacity 2s 0.5s;
}

.infographic-text_artesian  .infographic-text-wrapper:after {
    border-top: 66px solid #E8F4FC;
    border-left: 20px solid #E8F4FC;
}

.infographic-text svg {
    position: absolute;
    top: 70px;
    left: 695px;
}

.infographic-text .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.infographic-img-wrap.animated .infographic-text_sand .path {
    animation: dash 2s linear forwards;
}

.infographic-img-wrap.animated .infographic-text_artesian .path {
    animation: dash 2s linear 0.5s forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.infographic-text img {
    position: absolute;
    left: 1035px;
    top: 38px;
}

.infographic-text h2 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

.infographic-text_sand h2 {
    color: #ED672A;
}

.infographic-text_artesian h2 {
    color: #0071BB;
}

.infographic-text p {
    font-family: 'Bliss Pro';
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.infographic-block .order-consultation {
    margin-bottom: 136px;
}

.infographic-text_sand h2 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
}

.infographic-text-layout p {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 14px;
    line-height: 1.4;
}

.infographic-img .main-img {
    margin-top: -640px;
    margin-left: 120px;
}

.illustration-block {
    margin-top: -150px;
    text-align: center;
}

.illustration-block-header {
    text-align: left;
}

.illustration-text {
    font-family: 'Bliss Pro';
    width: 60%;
    text-align: left;
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.well-illustration {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.well-illustration-block {
    margin-top: 50px;
    opacity: 0;
    transform-origin: bottom;
    transition: all 0.6s;
}

.well-illustration.animated .well-illustration-block {
    margin-top: 0;
    opacity: 1;
}

.well-illustration-block:not(:last-child) {
    margin-right: 100px;
}

.well-type {
    font-family: 'Bliss Pro';
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0;
    margin-bottom: 0;
}

.illustration-artesian .well-type {
    background-image: linear-gradient(to right, #0071BB, #00AADF);    
}

.illustration-sand .well-type {
    background-image: linear-gradient(to right, #F64436, #E86801); 
}

.illustration-technical .well-type {
    background-image: linear-gradient(to right, #6D6D6D, #8B8B8B); 
}

.well-illustration-list {
    list-style: none;
    margin: 0;
    margin-bottom: 220px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.illustration-artesian-block {
    height: 340px;
    background-color: #fff;
    padding: 20px;
    flex: 1;
    width: 230px;
}

.illustration-artesian-block:not(:last-child) {
    margin-right: 27px;
}

.illustration-artesian .illustration-artesian-block {
    border-left: 1px solid #BBDEEE;    
}

.illustration-sand .illustration-artesian-blocktype {
    border-left: 1px solid #FFD4C7; 
}

.illustration-technical .illustration-artesian-blocktype {
    border-left: 1px solid #E0E0E0; 
}

.illustration-artesian-block h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
}

.illustration-artesian .illustration-artesian-block h4 {
    color: #0071BB;
}

.illustration-sand .illustration-artesian-block h4 {
    color: #f05022;
}

.illustration-technical .illustration-artesian-block h4 {
    color: #797979;
}

.illustration-artesian-block p {
    font-family: 'Bliss Pro';
    font-size: 14px;
    line-height: 17px;
    color: #333;
    margin-bottom: 15px;
    height: 70px;
}

.illustration-artesian-block .well-coast {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 19px;
    color: #333;
    margin-bottom: 15px;
}

.illustration-artesian-block button {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 15px;
    color: #ef551b;
    text-transform: uppercase;
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px solid rgba(239, 85, 27, 0.3);
    cursor: pointer;
}

.interactive-block {
    position: relative;
}

.well-up {
    position: absolute; 
    z-index: 1;
    top: 0;  
    left: -20px;
    width: 122%;
}

.well-down {
    position: absolute;
    top: 150px;
    left: -20px;
    width: 122%;
    transition: all 0.4s;
}

.interactive-block.animated .well-down {
    top: 120px;
}

.consult-text {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-bottom: 20px;
}

.arrangement {
    padding-bottom: 70px;
}
    
.arrangement-block {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.slider-block {
    width: 42%;
    padding-top: 30px;
}

.second-header {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #0071BB;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 25px;
}

.slider-main-tabs {
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 5;
}

.slider-main-tabs button {
    outline: none;
    cursor: pointer;
}

.slider-main {
    position: relative;
    top: -40px;
}

.slider-main__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding-right: 200px;
    padding-top: 50px;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-main__slide.active {
    opacity: 1;
}

.slider-main__slide img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.slide-caption {
    font-family: 'Bliss Pro';
    font-weight: 500;
    font-size: 18px;
    color: #0071bb;
    border: none;
    background: none;
    padding: 0;
    border-bottom: 1px dotted rgba(0, 113, 187, 0.3)
}

.slide-caption:not(:last-child) {
    margin-right: 45px;
}

.slide-caption.active {
    color: #333;
    border: none;
}

.arrange-text {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.45;
    color: #333;
    margin-bottom: 30px;
}

.arrange-coast {
    display: inline-block;
    background-color: #ebf9fc;
    border-radius: 2px;
    padding: 10px 20px;
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #333;
    font-size: 20px;
}

.tube-block {
    width: 44%;
}

.tube-block-top {
    background-image: url(../images/tube-top.png);
    height: 76px;
    position: relative;
    margin-bottom: 14px;
    filter: drop-shadow(5px 5px 5px #eee);
    transition: margin-bottom 0.5s;
}

.tube-block-top:after {
    content: '';
    height: 100%;
    width: 500px;
    position: absolute;
    top: 0;
    right: -500px;
    background-image: url(../images/tube-pattern.png);
    background-repeat-y: no-repeat;
}

.tube-block-center {
    display: flex;
    height: 233px;
    margin-bottom: 14px;
    transition: margin-bottom 0.5s;
}

.tube-block.animated .tube-block-top,
.tube-block.animated .tube-block-center {
    margin-bottom: 0;
}

.tube-left {
    height: 100%;
    width: 80px;
    position: relative;
    left: -7px;
    background-image: url(../images/tube-left.png);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(5px 5px 5px #eee);
}

.tube-left:before {
    content: '';
    display: block;
    position: absolute;
    top: 83px;
    width: 80px;
    height: 81px;
    background-image: url(../images/ventil.png);
    transition: transform 2.5s
}

.tube-left.animated:before {
    transform: rotateZ(-585deg)
}

.tube-center-info {
    padding: 25px 45px;
    position: relative;
}

.tube-block-center h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #333;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 15px;
}

.tube-block-center p {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-top: 0;
    margin-bottom: 15px;
}

.tube-block-bottom {
    background-image: url(../images/tube-bottom.png);
    height: 76px;
    position: relative;
    filter: drop-shadow(5px 5px 5px #eee);
}

.tube-block-bottom:after {
    content: '';
    height: 100%;
    width: 500px;
    position: absolute;
    top: 0;
    right: -500px;
    background-image: url(../images/tube-pattern.png);
    background-position: bottom;
    background-repeat-y: no-repeat;
}

.delivery {
    background-image: url(../images/clouds.png);
    background-position: center;
    background-repeat-y: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: run-cloud 50s linear forwards infinite;
}

.delivery h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #0071BB;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 15px;
}

.delivery-info {
    display: flex;
    align-items: center;
}

.delivery-text {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-right: 15px;
}

.truck-road {
    background-image: url(../images/truck-pattern.png);
    background-repeat: repeat no-repeat;
    background-position: bottom;    
}

.road {
    height: 48px;
    background-image: url(../images/line.png);
    background-repeat-y: no-repeat;
    background-position-y: center;
    background-position-x: 0;
    position: relative;
    animation: run-road 0.2s linear forwards infinite;
}

.truck {
    position: absolute;
    top: -25px;
    left: 150px;
}

.stages {
    background-image: linear-gradient(#454545, #5e5e5e);
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
}

.stages-header {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}

.stages-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.stages-list > li {
    height: 300px;
    position: relative;
    width: 130px;
}

.stages-list > li:not(:last-child):after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 260%;
    background-color: #606060;
    top: 100px;
    left: 100%;
}

.stage-img-wrap {
    margin-top: 0;
    margin-bottom: 10px;
    height: 140px;
    display: flex;
    align-items: flex-end;
}

.stages-list h4 {
    font-family: 'Bliss Pro';
    font-weight: normal;
    font-size: 18px;
    color: #f15222;
    position: absolute;
    top: 140px;
    width: 260px;
}

.stages-list p {
    font-family: 'Bliss Pro';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    position: absolute;
    top: 200px;
    width: 260px;
}

.drill {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
}

.about-company {
    padding-top: 130px;
    padding-bottom: 20px;
}

.about-company-container {
    display: flex;
    justify-content: space-between;
}

.about-company-text {
    width: 25%;
}

.about-company-text p {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.55;
    color: #333;
}

.about-company-main-text {
    margin-bottom: 60px;
}

.look-at-our-works {
    position: relative;
}

.look-at-our-works:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    left: 200px;
    width: 218px;
    height: 113px;
    background-image: url(../images/curve-arrow.svg);
    background-repeat: no-repeat;
}

.about-company-photos {
    width: 72%;
    display: flex;
    justify-content: space-between;
}

.about-company-main-photo {
    width: 83%;
    height: 630px;
    border: 8px solid #eee;
    overflow: hidden;
}

.about-company-main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-company-thumbs {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-company-thumbs a {
    display: block;
    border: 4px solid #eee;
    overflow: hidden;
    transition: all 0.3s;
}

.about-company-thumbs a:hover {
    border-color: #0071BB;
}

.about-company-thumbs a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.certificates {
    padding-top: 120px;
    padding-bottom: 100px;
    background-image: url(../images/certificates-section-rounding.png);
    background-repeat: no-repeat;
    background-position: center 101%;
    background-position: center bottom -1px;
}

.certificates-container {
    display: flex;
    justify-content: space-between;
}

.certificates-slider-block {
    width: 58%;
}

.certificates h2 {
    margin-bottom: 50px;
}

.certificates-slider .flickity-prev-next-button {
    top: 40%;
    width: 80px;
    height: 80px;
    background: none;
}

.certificates-slider .flickity-prev-next-button svg .arrow {
    fill: #E6F0F9;
}

.certificates-slider .flickity-prev-next-button.previous {
    left: -80px;
}

.certificates-slider .flickity-prev-next-button.next {
    right: -80px;
}

.certificates-slide {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px
}

.certificates-slide-img-wrap {
    margin-bottom: 20px;
    transition: all 0.3s;
}

.certificates-slide:hover .certificates-slide-img-wrap {
    transform: translateY(-8px);
    box-shadow: 0 15px 20px -10px #d5d5d5;
}

.certificates-slide-text {
    text-align: center;
}

.certificates-slide-text a {
    font-family: 'Bliss Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.certificates-slide:hover .certificates-slide-text a {
    color: #0071BB;
    border-bottom: 1px solid rgba(0, 113, 187, 0.2);
}

.certificates-passport {
    width: 31%;
}

.passport-block {
    display: flex;
}

.passport-block-img-wrap {
    margin-right: 23px;
}

.passport-text {
    padding-top: 20px;
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.45;
    color: #333;
}

.passport-text p {
    margin-top: 0;
    margin-bottom: 25px;
}

.additional {
    background-color: #EAF9FC;
    background-image: url(../images/side-tube.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 40px;
    padding-bottom: 35px;
}

.additional-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    line-height: 1.77;
    color: #333;
    margin-top: 0;
    margin-bottom: 30px;
}

.additional p {
    font-family: 'Bliss Pro';
    font-size: 18px;
    line-height: 1.45;
    color: #333;
    margin-top: 0;
}

.additional-services {
    width: 70%;
}

.additional-services-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.additional-services-list li {
    position: relative;
    width: 33%;
    padding-right: 70px;
}

.additional-services-list li img {
    position: absolute;
    top: 0;
    left: -70px;
}

.additional-services-list h4 {
    font-family: 'Bliss Pro';
    font-weight: 500;
    color: #333;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
}

.coast {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #EF551D;
    font-size: 18px;
}

.specifying-block {
    flex: 1;
}

.additional-services-specifying-block {
    padding: 15px 20px 15px 25px;
    height: 168px;
    width: 358px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    margin-left: -25px;
}

.additional-services-specifying-block:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -80px;
    border-top: 84px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 84px solid transparent;
    border-left: 40px solid #fff;
}

.additional-services-specifying-block span {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-right: 30px;
}

.map-section {
    height: 500px; // temp
}

.map-info-block {
    width: 260px;
    position: relative;
    top: 90px;
    margin-left: -25px;
    padding: 35px 25px;
    background-color: #fff;
    border: 1px solid #D9E9EC;
}

.map-info-block h3 {
    font-family: 'Bliss Pro';
    font-weight: 800;
    color: #333;
    font-size: 22px;
    line-height: 1.77;
    margin-top: 0;
    margin-bottom: 10px;
}

.map-info-block p {
    font-family: 'Bliss Pro';
    color: #333;
    font-size: 18px;
    line-height: 1.45;
    margin-top: 0;
}

.footer {
    background-color: #4E757C;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 20%;
}

.footer-logo .logo-wrapper__logo {
    margin-bottom: 15px;
}

.logo-sub-text {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.5);
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.footer-menu > li {
    width: 50%;
}

.footer-menu > li a {
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #A6BABD;
    text-decoration: none;
    border-bottom: 1px solid rgba(166, 186, 189, 0.3);
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
}

.footer-address {
    width: 45%;
}

.physical-address {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.5;
    color: #A6BABD;
    margin-top: 0;
    margin-bottom: 15px;
}

.footer-address a {
    font-family: 'Bliss Pro';
    font-size: 16px;
    line-height: 1.5;
    color: #A6BABD;
    text-decoration: none;
    border-bottom: 1px solid rgba(166, 186, 189, 0.3);
}

.footer-phone {
    width: 45%;
}

.footer-phone .phone {
    display: block;
    font-family: 'Bliss Pro';
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

.copyright {
    font-family: 'Bliss Pro';
    font-size: 16px;
    color: #A6BABD;
    text-align: right;
}

.copyright a {
    color: #E86702;
}


@keyframes run-cloud {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -750px;
    }
}

@keyframes run-road {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -30px;
    }
}
